* {
    font-size: 2rem
}

body {
    font-family: Arial, sans-serif;
    color: black ;
    line-height: 1.6;
}

header {
    background-color: #ff6600;
    color:black
}

h1 {
    font-size: 3.5rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
    color: #ff6600; 
}

ul {
    list-style-type: disc;
    margin-left: 10px;
    font-size: 2rem
}

ul li {
    font-size: 2rem
}

a {
    color: #ff6600; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ff8533; 
}

.credit{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--border);
}

.credit span{
    color: var(--orange);
}